.api__form {
  width: 50%;
}
.form__api-fields {
  padding: 2rem;
}
.form__api-fields label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.form__api-fields input[type="text"] {
  width: 40rem;
  background-color: #ebebeb;
  border-radius: var(--border-raduis-md);
  padding: 1rem;
  outline: 0;
  border: 0;
  font-weight: 500;
  color: var(--dark-color);
}
.form__api-fields input[type="submit"] {
  width: 15rem;
  text-align: center;
  padding: 0.7rem 0;
  outline: 0;
  border: 0;
  border-radius: var(--border-raduis-md);
  background-color: #d25400;
  color: var(--light-color);
}
input {
  margin-bottom: 2rem;
}
.api__show {
  width: 50%;
}
.api__show h1 {
  text-align: center;
  margin-bottom: 4rem;
}
.api__show--plaseholder {
  background-color: #f3f1f2;
  padding: 1.5rem;
  margin: 1rem;
  width: 100%;
  border-radius: var(--border-raduis-md);
}
.form__api-fields{
    margin-top: 4rem;
}
.api__show--plaseholder table {
  width: 100%;
  border-radius: var(--border-raduis-md);
  border: none;
  text-align: center;
}
.api__show--plaseholder table thead {
  background-color: #bec3c7;
  border-radius: inherit;
  font-weight: 500;
color: var(--dark-color);
}
.api__show--plaseholder table td {
  padding: 1.5rem;
}
